<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="AWSProfileName" value="" />
    <add key="AWSAccessKey" value="AKIAIBVK7Y6P4YRTXHGQ" />
    <add key="AWSSecretKey" value="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" />
    <add key="AWSBucketName" value="smiledocbucket" />
    <add key="AWSRegionName" value="Asia Pacific (Singapore)" />
    <add key="AWSBackupPath" value="" />
    <add key="AWSFileIsPublic" value="false" />
    <add key="BackupFreqency" value="ByMinute" />
    <add key="BackupValue" value="1,0" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="SmilesUploadToS3.Properties.Settings.DBSSSDoc" connectionString="Data Source=27.254.238.180;Initial Catalog=S3Uploader;Persist Security Info=True;User ID=devcrud;Password=Fi'giupo-v'gikojkvp^j;MultipleActiveResultSets=True;Connect Timeout=10" />
    <add name="SmilesUploadToS3.Properties.Settings.DBSmileDoc" connectionString="Data Source=147.50.133.148;Initial Catalog=S3Uploader;Persist Security Info=True;User ID=sa;Password=Fi'giupo-v'gikojkvp^j;MultipleActiveResultSets=True;Connect Timeout=10" />
    <add name="SmilesUploadToS3.Properties.Settings.DBTest" connectionString="Data Source=147.50.133.169;Initial Catalog=S3Uploader;Persist Security Info=True;User ID=devdba;Password=-v200wfhxt;MultipleActiveResultSets=True;Connect Timeout=10" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>