<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SmileDocumentBackupAndDelete.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SmileDocumentBackupAndDelete.Properties.Settings.S3UploaderConnectionString"
            connectionString="Data Source=147.50.133.169;Initial Catalog=S3Uploader;Persist Security Info=True;User ID=devdba"
            providerName="System.Data.SqlClient" />
        <add name="SmileDocumentBackupAndDelete.Properties.Settings.S3UploaderConnectionString1"
            connectionString="Data Source=147.50.133.169;Initial Catalog=S3Uploader;Persist Security Info=True;User ID=devdba;Password=-v200wfhxt;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <SmileDocumentBackupAndDelete.Properties.Settings>
            <setting name="DBSSSDoc" serializeAs="String">
                <value>Data Source=27.254.238.180;Initial Catalog=S3Uploader;Persist Security Info=True;User ID=devcrud;Password=Fi'giupo-v'gikojkvp^j;MultipleActiveResultSets=True;Connect Timeout=10</value>
            </setting>
            <setting name="DBSmileDoc" serializeAs="String">
                <value>Data Source=147.50.133.148;Initial Catalog=S3Uploader;Persist Security Info=True;User ID=sa;Password=Fi'giupo-v'gikojkvp^j;MultipleActiveResultSets=True;Connect Timeout=10</value>
            </setting>
            <setting name="DBTest" serializeAs="String">
                <value>Data Source=147.50.133.169;Initial Catalog=S3Uploader;Persist Security Info=True;User ID=devdba;Password=-v200wfhxt;MultipleActiveResultSets=True;Connect Timeout=10</value>
            </setting>
        </SmileDocumentBackupAndDelete.Properties.Settings>
    </applicationSettings>
</configuration>